.editor {
  width: 100%;
}

@media only screen and (min-device-width: 605px) and (orientation: portrait), only screen and (min-device-width: 605px) and (orientation: landscape) {
  .editor {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
