.link {
  text-decoration: none;
  color: inherit;
  padding-bottom: 3px;
}

.highlight {
  border-bottom: 1px solid currentColor;
}

.external {
  padding-right: 2em;
  border-bottom: 1px solid currentColor;
}
