.paletteColorChooser {
  width: 20%;
  border-left: 1px solid rgb(200, 200, 200);
  text-align: center;
  overflow-y: scroll;
}

.demo {
  height: 2rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.explainer {
  padding: 2rem;
  box-sizing: border-box;
  font-weight: 200;
}

.inputWrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.hexInput, .textInput, .saveButton {
  font: inherit;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  width: 100%;
}
.hexInput {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.textInput {
  resize: none;
  margin-bottom: 0.5rem;
  height: 15rem;
}
.saveButton {
  margin-bottom: 2rem;
  background-color: white;
}

.invalid {
  border-right: 3px solid red;
}
