.paletteText {
  border-top: 1px solid rgb(200, 200, 200);
  padding: 3rem;
  text-align: center;
}

.by {
  font-weight: 100;
}

.textInput, .userInput, .publishButton, .restartButton {
  font: inherit;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  margin-right: 0.5rem;
  background-color: white;
}

.invalid {
  border-right: 3px solid red;
}

@media only screen and (min-device-width: 605px) and (orientation: portrait), only screen and (min-device-width: 605px) and (orientation: landscape) {
  .textInput, .userInput {
    width: 25rem;
  }
}
@media only screen and (max-device-width: 604px) and (orientation: portrait), only screen and (max-device-width: 604px) and (orientation: landscape) {
  .paletteText {
    padding: 1rem;
  }
  .textInput, .userInput, .publishButton {
    margin-bottom: 0.5rem;
  }
  .textInput, .userInput, .publishButton, .restartButton {
    width: 100%;
  }
  .publishButton, .restartButton {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
