.paletteColorChooser {
  text-align: center;
}

.demo {
  height: 2rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.explainer {
  box-sizing: border-box;
  font-weight: 200;
}

.inputWrapper {
  width: 100%;
  box-sizing: border-box;
}

.hexInput, .textInput, .saveButton {
  font: inherit;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  width: 100%;
}
.hexInput {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.textInput {
  resize: none;
  margin-bottom: 0.5rem;
  height: 15rem;
}
.saveButton {
  background-color: white;
}

.invalid {
  border-right: 3px solid red;
}

@media only screen and (max-device-width: 604px) and (orientation: portrait), only screen and (max-device-width: 604px) and (orientation: landscape) {
  .paletteColorChooser {
    width: 100%;
  }
  .inputWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .explainer {
    padding: 1rem;
  }
  .saveButton {
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-device-width: 605px) and (orientation: portrait), only screen and (min-device-width: 605px) and (orientation: landscape) {
  .paletteColorChooser {
    width: 20%;
    border-left: 1px solid rgb(200, 200, 200);
    overflow-y: scroll;
  }
  .inputWrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .explainer {
    padding: 2rem;
  }
  .saveButton {
    margin-bottom: 2rem;
  }
}
