.viewer {
  width: 100%;
}

@media only screen and (min-device-width: 605px) and (orientation: portrait), only screen and (min-device-width: 605px) and (orientation: landscape) {
  .viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-device-width: 604px) and (orientation: portrait), only screen and (max-device-width: 604px) and (orientation: landscape) {
  .viewer {
    
  }
}
